﻿
@{
    ViewBag.Title = "Index";
}


<link href="~/css/whoweare.css" rel="stylesheet" />

<script></script>


<div class="pt90 pb90">
    <div class="container">
        <div class="row pt60">
            <div class="col-lg-12">

                <h3 class="text-red">
                    Who we are
                   
                </h3>
            </div>

            <div class="col-lg-12 pt30 pb30">
           <div class="row">



                <div class="w3-sidebar w3-bar-block w3-light-grey w3-card col-lg-3 col-sm-12 col-xs-12">
                    <button class="w3-bar-item w3-button tablink text-blue" onclick="openCity(event, 'item1')">
                    <b>Profile</b>
                    </button>
                    <button class="w3-bar-item w3-button tablink text-light-gray" onclick="openCity(event, 'item2')"><b>Commitment</b></button>
                    <button class="w3-bar-item w3-button tablink  text-light-gray" onclick="openCity(event, 'item3')"><b>Mission</b></button>
                    <button class="w3-bar-item w3-button tablink text-light-gray" onclick="openCity(event, 'item4')"><b>Partners</b></button>
                    <button class="w3-bar-item w3-button tablink text-light-gray" onclick="openCity(event, 'item5')"><b>Awards & Recognition</b></button>
                    <button class="w3-bar-item w3-button tablink  text-light-gray" onclick="openCity(event, 'item6')"><b>Our Team</b></button>
                    <button class="w3-bar-item w3-button tablink  text-light-gray" onclick="openCity(event, 'item7')"><b>Careers</b></button>
                </div>

                <div class="col-lg-9 col-sm-12 col-xs-12 tabs-content">

                    <div id="item1" class="w3-container content" >
                       
                        <div>
                            <div class="container">

                                <div class="col-lg-12 col-sm-12 col-xs-12" data-wow-delay=".2s">
                                    
                                        <div class="entry-card">
                                            <a href="~/#" >
                                                <img src="~/images/profile.png" alt="" class="img-fluid img-full">
                                                
                                            </a><!--/entry thumb-->

                                        </div>

                                </div>


                                <div class="col-lg-12">

                                    <h3 class="text-blue">
                                        Company Profile

                                    </h3>

                                    <p>
                                        London is the capital city of England.
                                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="item2" class="w3-container content" style="display:none">
                        <div>
                            <div class="container">

                                <div class="col-lg-12 col-sm-12 col-xs-12" data-wow-delay=".2s">
                                    
                                        <div class="entry-card">
                                            <a href="~/#">
                                                <img src="~/images/profile.png" alt="" class="img-fluid img-full">

                                            </a><!--/entry thumb-->

                                        </div>
                                    
                                </div>


                                <div class="col-lg-12">

                                    <h3 class="text-blue">
                                        Commitment

                                    </h3>

                                    <p>
                                        London is the capital city of England.
                                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="item3" class="w3-container content" style="display:none">
                       
                        <div>
                            <div class="container">

                               
                                    <div class="col-lg-12 col-sm-12 col-xs-12" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#">
                                                <img src="~/images/profile.png" alt="" class="img-fluid img-full">

                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->
                                


                                    <div class="col-lg-12">

                                        <h3 class="text-blue">
                                            Mission

                                        </h3>

                                        <p>
                                            London is the capital city of England.
                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                        </p>

                                    </div>

                                </div>
                        </div>

                    </div>

                    <div id="item4" class="w3-container content" style="display:none">
                    
                        <div>
                            <div class="container">

                                <div class="col-lg-12 col-sm-12 col-xs-12" data-wow-delay=".2s">

                                    <h3 class="text-blue">
                                        Partners

                                    </h3>

                                    <p>
                                        London is the capital city of England.
                                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                    </p>

                                </div>

                                <div class="row">
                    

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->
                                           
                                        </div>
                                    </div><!--/.col-->

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->

                                    <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="entry-card">
                                            <a href="~/#" class="entry-thumb">
                                                <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                <span class="thumb-hover ti-back-right"></span>
                                            </a><!--/entry thumb-->

                                        </div>
                                    </div><!--/.col-->


                                    <div class="col-lg-12 mb30 mt30 wow fadeInUp" data-wow-delay=".2s" align="center">
                                        <a href="~/#" class="btn btn-sm btn-red-outline">
                                            Load More
                                        </a>
                                    </div>


                                    <!--/.col-->



                                </div>
                            </div>
                        </div>
                    


                    </div>

                                <div id="item5" class="w3-container content" style="display:none">

                                    <div>
                                        <div class="container">

                                            <div class="col-lg-12 col-sm-12 col-xs-12">

                                                <h3 class="text-blue">
                                                 Awards & Recognition

                                                </h3>

                                                <p>
                                                    London is the capital city of England.
                                                    It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                </p>

                                            </div>

                                            <div class="row">


                                                <div class="col-lg-6 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->
                                                        
                                                        <div class="entry-content">
                                                            <div class="entry-meta mb5" align="center">
                                                                <span>
                                                                    CCTV systems
                                                                </span>
                                                            </div>
                                                   

                                                        </div><!--/entry content-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card mb10">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->
                                                        <div class="entry-content" style="padding:1px !important;">
                                                            <div class="entry-meta mb5" align="center">
                                                                <span>
                                                                    CCTV systems
                                                                </span>
                                                            </div>


                                                        </div><!--/entry content-->

                                                    </div>


                                                    <div class="entry-card mb10">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                        <div class="entry-content" style="padding:1px !important;">
                                                            <div class="entry-meta mb5" align="center">
                                                                <span>
                                                                    CCTV systems
                                                                </span>
                                                            </div>


                                                        </div><!--/entry content-->

                                                    </div>

                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card mb10">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                        <div class="entry-content" style="padding:1px !important;">
                                                            <div class="entry-meta mb5" align="center">
                                                                <span>
                                                                    CCTV systems
                                                                </span>
                                                            </div>


                                                        </div><!--/entry content-->

                                                    </div>

                                                    <div class="entry-card mb10">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                        <div class="entry-content" style="padding:1px !important;">
                                                            <div class="entry-meta mb5" align="center">
                                                                <span>
                                                                    CCTV systems
                                                                </span>
                                                            </div>


                                                        </div><!--/entry content-->

                                                    </div>
                                                    
                                                </div><!--/.col-->

                                                <div class="col-lg-12 mb30 mt30 wow fadeInUp" data-wow-delay=".2s" align="center">
                                                    <a href="~/#" class="btn btn-sm btn-red-outline">
                                                        Load More
                                                    </a>
                                                </div>

                                                
                                              
                                              
                                                <!--/.col-->



                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="item6" class="w3-container content" style="display:none">

                                    <div>
                                        <div class="container">

                                            <div class="col-lg-12 col-sm-12 col-xs-12">

                                                <h3 class="text-blue">
                                                    Our Team

                                                </h3>

                                                <p>
                                                    London is the capital city of England.
                                                    It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                </p>

                                            </div>

                                            <div class="row">


                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->

                                                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                                                    <div class="entry-card">
                                                        <a href="~/#" class="entry-thumb">
                                                            <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                                                            <span class="thumb-hover ti-back-right"></span>
                                                        </a><!--/entry thumb-->

                                                    </div>
                                                </div><!--/.col-->
                                                <!--/.col-->



                                            </div>
                                        </div>
                                    </div>

                                </div>

                    <div id="item7" class="w3-container content" style="display:none">


                        <div>
                            <div class="container">

                                <div class="col-lg-12 col-sm-12 col-xs-12 pb10">

                                    <h3 class="text-blue">
                                     Careers

                                    </h3>

                                    <p>
                                        London is the capital city of England.
                                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                    </p>

                                </div>

                                <div class="col-lg-6">


                                    <div class="mb20 mt20">

                                        <div class="input-group">
                                            <input type="text" name="name" class="form-control required text-field-border" placeholder="Full Name">
                                        </div>

                                    </div><!--/col-->

                                </div>


                                <div class="col-lg-6">
                                    <div class="mb20 mt20">

                                        <div class="input-group">
                                            <input type="email" name="email" class="form-control required text-field-border" placeholder="Email">
                                        </div>

                                    </div><!--/col-->



                                </div>



                                <div class="col-lg-6">
                                    <div class="mb20 mt20">

                                        <div class="input-group">
                                            <input type="text" name="mobile" class="form-control required text-field-border" placeholder="Mobile">
                                        </div>

                                    </div><!--/col-->
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb20 mt20">

                                        <div class="input-group">
                                            <input type="text" name="nationality" class="form-control required text-field-border" placeholder="Nationality">
                                        </div>

                                    </div><!--/col-->
                                </div>


                                <div class="col-lg-6">
                                    <div class="mb20 mt20">

                                        <div class="input-group">
                                            <input type="text" name="CV" class="form-control required text-field-border" placeholder="CV">
                                        </div>

                                    </div><!--/col-->
                                </div>

                                <div class="col-lg-12">

                                    <button class="btn btn-filter btn-primary" type="submit">Submit</button>

                                </div>


                                </div>
                            </div>

                            </div>

                        </div>

                      

                    </div>

        </div>

                    </div>


    </div>
</div>

<script>
                            function openCity(evt, Name) {
                                var i, x, tablinks;
                                x = document.getElementsByClassName("content");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }
                                tablinks = document.getElementsByClassName("tablink");
                                for (i = 0; i < x.length; i++) {
                                    tablinks[i].className = tablinks[i].className.replace(" text-blue", " text-light-gray");
                                }


                                document.getElementById(Name).style.display = "block";

                                // $(".tab").addClass("active"); // instead of this do the below
                                evt.currentTarget.className += " text-blue";
                            }
</script>