﻿
@{
    ViewBag.Title = "Index";
}

<div class=" pt70">
    <div class="fluid-container">
        <img style="width:100%;" src="~/images/pdfcover.png" />
 

    </div>
</div>

    <div class=" pt60 pb60 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <img src="~/images/pdf.png" width="80"/>
                    
                    
                </div>
                <div class="col-lg-11">
                    
                    <p class="pt10"><b>Company Profile</b><br />MSJ Company<br />Profile 2017</p>

                </div>

            </div>

            <hr>

            <h5 class="text-gray">Brand Catalogue</h5>

            <div class="row pb30">


                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>
                  


                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->

                <div class="col-lg-2 mt30 wow fadeInUp" data-wow-delay=".2s">
                    <p align="center"><img src="~/images/pdf.png" width="50" /></p>
                    <p class="pt10" align="center"><b>Samsung CCTV</b><br />Catalogue</p>



                </div><!--/.col-->



            </div>
        </div>
    </div>

