﻿
@{
    Layout = Layout;
}

<div class=" pt90 pb90 grey">
    <div class="container">
        <div class="row pt90">
            <div class="col-lg-10">

                <h3 class="text-blue">
                    <img src="~/images/back.png" />
                    CCTV Systems

                </h3>
            </div>

            <div class="col-lg-2">

                <h3 class="text-blue">
                    <span class="input-group-btn" style="float:right;">
                        <button class="btn btn-product btn-primary" type="submit">Find a Product</button>
                    </span>

                </h3>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div><!--/.col-->

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>


            <div class="col-lg-3 mt30 mb30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <!--/.col-->

           

        </div>
    </div>
</div>

