.ticket_status_open {
    background: #58d38f;
    padding: 4px 10px;
    color: #fff;
}
.ticket_status_closed {
    background: #00BCD4;
    color: #fff;
    padding: 4px 10px;
}
.th_heading {
    background: #95a2aa;
    color: #fff;
    font-size: 18px;
}
.map_with_pin {
    width: 100%;
    height: 400px;
}

.chat-loader {
    border: 3px solid #ffffff;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
