﻿
@{
    ViewBag.Title = "Index";
}



<div class="bg-parallax parallax-overlay accounts-page" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
    <div class="container">
        <div class="row pb30">
            <div class="col-lg-6 col-md-6 mr-auto ml-auto col-sm-8">
                <h4 ><span class="text-blue">Log in</span><br /><span style="font-size:12px;color:#a8a8a8;">TO access your information</span></h4>
                
                <br />
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control text-field-border" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-field-border" placeholder="Password">
                    </div>
                    <div class="form-group" align="center">
                        <button type="submit" class="btn btn-success btn-md">Login</button>
                    </div>
                    <div class="text-center text-blue"><a href="#" class="btn text-blue">forgot my password?</a></div>
                    
                   
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container pt20 pb20">
    <div class="row">
        <div class="col-lg-12">

            <p align="center">
                <span class="text-blue">Dont have an account? </span><span><a href="#" data-toggle="modal" data-target="#myModal" class="text-success">Register Now</a></span>

</p>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               
                <div class="modal-body">

                    
                    <div class="col-lg-12">

                        <div class="mb40 pt10" align="center">

                            <h4 class="text-blue">Register</h4>



                        </div><!--/col-->

                        </div>


                        <div class="col-lg-12 text-field-column">

                            <div class="mb10 mt10">


                                <div class="input-group">
                                    <input type="text" name="name" class="form-control required text-field-border" placeholder="Full Name">
                                </div>

                            </div><!--/col-->

                        </div>


                        <div class="col-lg-12 text-field-column">
                            <div class="mb10 mt10">

                                <div class="input-group">
                                    <input type="text" name="username" class="form-control required text-field-border" placeholder="User Name">
                                </div>

                            </div><!--/col-->



                        </div>



                        <div class="col-lg-12 text-field-column">
                            <div class="mb10 mt10">

                                <div class="input-group">
                                    <input type="email" name="mobile" class="form-control required text-field-border" placeholder="Email">
                                </div>

                            </div><!--/col-->
                        </div>

                        <div class="col-lg-12 text-field-column">
                            <div class="mb10 mt10">

                                <div class="input-group">
                                    <input type="text" name="Phone" class="form-control required text-field-border" placeholder="Phone (Optional)">
                                </div>

                            </div><!--/col-->
                        </div>

                    <div class="col-lg-12 text-field-column">
                        <div class="mb10 mt10">

                            <div class="input-group">
                                <input type="text" name="city" class="form-control required text-field-border" placeholder="City">
                            </div>

                        </div><!--/col-->
                    </div>

                    <div class="col-lg-12 text-field-column">
                        <div class="mb10 mt10">

                            <div class="input-group">
                                <input type="text" name="country" class="form-control required text-field-border" placeholder="Country">
                            </div>

                        </div><!--/col-->
                    </div>

                    <div class="col-lg-12 text-field-column">
                        <div class="mb10 mt10">

                            <div class="input-group">
                                <input type="text" name="password" class="form-control required text-field-border" placeholder="Password">
                            </div>

                        </div><!--/col-->
                    </div>




                        <div class="col-lg-12 text-field-column">
                            <div class="mb10 mt10">

                                <div class="input-group">
                                    <input type="text" name="confirmpassword" class="form-control required text-field-border" placeholder="Confirm Password">
                                </div>

                            </div><!--/col-->
                        </div>


                    <div class="col-lg-12 text-field-column">
                        <div class="mb10 mt10">

                            <div class="input-group">
                                <input type="radio" name="gender" value="male"> Male<br>
                                <input type="radio" name="gender" value="female"> Female<br>
                            </div>

                        </div><!--/col-->
                    </div>


                        <div class="col-lg-12 text-field-column" align="center">

                            <button class="btn btn-filter btn-primary" type="submit">Submit</button>

                        </div>
                    </div>
               
            </div>
        </div>
    </div><!--/modal-->

</div>