﻿
@{
    ViewBag.Title = "Index";
}


<link href="~/css/whoweare.css" rel="stylesheet" />

<script></script>





<div class="pt90 pb90">
    <div class="container">
        <div class="row pt60">
            <div class="col-lg-12" align="right">

                <h6 class="text-blue">
                    Welcome,<br />Ahmad Mahmood

                </h6>
              
                
            </div>

            <div class="col-lg-12" align="right">

                <span class="input-group-btn" style="float:right;">
                    <button class="btn btn-md btn-danger" type="submit">+ Fill a new complaint Ticket</button>
                </span>

            </div>

            <div class="col-lg-12" align="left">


                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-default mb30" role="tablist">
                                <li class="nav-item" role="presentation"><a class="active nav-link" href="#home" aria-controls="home" role="tab" data-toggle="tab">Current Tickets</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Completed Tickets</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Cancelled Tickets</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active show fade" id="home">
                                  
                                        <div class="row text-field-border">



                                            <div class="w3-sidebar w3-bar-block w3-light-grey w3-card col-lg-4 col-sm-12 col-xs-12 no-padding" style="height:537px !important;">
                                                <div class="w3-bar-item-ticketing w3-button tablink background-text" >
                                                <div class="col-lg-12" align="center">
                                                    
                                                        <input type="text" name="name" class="form-control required text-field-border" placeholder="Search Tickets">
                                                </div>                                                    



                                                </div>





                                                <button class="w3-bar-item-ticketing w3-button tablink text-light-gray text-field-border background-blue" onclick="openCity(event, 'item2')">
                                                    <h6 class="text-blue">Request No. 1852210<span class="text-red"> (Unattended) </span></h6>
                                                    <p>22, Jun 2017</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                </button>
                                                <button class="w3-bar-item-ticketing w3-button tablink text-light-gray text-field-border" onclick="openCity(event, 'item3')">
                                                    <h6 class="text-blue">Request No. 1852210<span class="text-red"> (Unattended) </span></h6>
                                                    <p>22, Jun 2017</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                </button>

                                                <button class="w3-bar-item-ticketing w3-button tablink text-light-gray text-field-border" onclick="openCity(event, 'item4')">
                                                    <h6 class="text-blue">Request No. 1852210<span class="text-red"> (Unattended) </span></h6>
                                                    <p>22, Jun 2017</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                </button>
                                                <button class="w3-bar-item-ticketing w3-button tablink text-light-gray text-field-border" onclick="openCity(event, 'item5')">
                                                    <h6 class="text-blue">Request No. 1852210<span class="text-red"> (Unattended) </span></h6>
                                                    <p>22, Jun 2017</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                </button>


                                                
                                                
                                                
                      
                                            </div>

                                            <div class="col-lg-8 col-sm-12 col-xs-12 tabs-content-ticketing" >

                      

                                                <div id="item2" class="w3-container content" style="display:block">
                                                    <div>
                                                        <div class="container">

                                                          


                                                            <div class="col-lg-12 mt30">
                                                                <div class="row">

                                                            <div class="col-lg-6" style="float:left;">

                                                                <h6 class="text-blue">Request No. 1852210</h6>
                                                                <p>22, Jun 2017</p>
                                                            </div>
                                                                <div class="col-lg-6" style="float:right;" align="right">
                                                                    
                                                                    <span  class="text-red" > (Unattended)</span>
                                                                  
                                                                 </div>

                                                                    <div class="col-lg-12" >

                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>

                                                                        
                                                                        <p ><span class="text-blue"><b>Scheduled Visit</b></span><br /><span>22 Jun , 2017</span></p>
                                                                       

                                                                        <p><span class="text-blue"><b>Address</b></span><br /><span>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</span></p>
                                                                        
                                                                        

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="item3" class="w3-container content" style="display:none">
                                                    <div>
                                                        <div class="container">




                                                            <div class="col-lg-12 mt30">
                                                                <div class="row">

                                                                    <div class="col-lg-6" style="float:left;">

                                                                        <h6 class="text-blue">Request No. 1852210</h6>
                                                                        <p>22, Jun 2017</p>
                                                                    </div>
                                                                    <div class="col-lg-6" style="float:right;" align="right">

                                                                        <span class="text-red"> (Unattended)</span>

                                                                    </div>

                                                                    <div class="col-lg-12">

                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>

                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>

                                                   

                                                                        <p><span class="text-blue"><b>Scheduled Visit</b></span><br /><span>22 Jun , 2017</span></p>


                                                                        <p><span class="text-blue"><b>Address</b></span><br /><span>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</span></p>



                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div id="item4" class="w3-container content" style="display:none">
                                                    <div>
                                                        <div class="container">




                                                            <div class="col-lg-12 mt30">
                                                                <div class="row">

                                                                    <div class="col-lg-6" style="float:left;">

                                                                        <h6 class="text-blue">Request No. 1852210</h6>
                                                                        <p>22, Jun 2017</p>
                                                                    </div>
                                                                    <div class="col-lg-6" style="float:right;" align="right">

                                                                        <span class="text-red"> (Unattended)</span>

                                                                    </div>

                                                                    <div class="col-lg-12">

                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>

                                                                        <p><span class="text-blue"><b>Scheduled Visit</b></span><br /><span>22 Jun , 2017</span></p>


                                                                        <p><span class="text-blue"><b>Address</b></span><br /><span>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</span></p>



                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="item5" class="w3-container content" style="display:none">
                                                    <div>
                                                        <div class="container">




                                                            <div class="col-lg-12 mt30">
                                                                <div class="row">

                                                                    <div class="col-lg-6" style="float:left;">

                                                                        <h6 class="text-blue">Request No. 1852210</h6>
                                                                        <p>22, Jun 2017</p>
                                                                    </div>
                                                                    <div class="col-lg-6" style="float:right;" align="right">

                                                                        <span class="text-red"> (Unattended)</span>

                                                                    </div>

                                                                    <div class="col-lg-12">

                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>
                                                                        <p>
                                                                            London is the capital city of England.
                                                                            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                                                                        </p>

                                                                        <p><span class="text-blue"><b>Scheduled Visit</b></span><br /><span>22 Jun , 2017</span></p>


                                                                        <p><span class="text-blue"><b>Address</b></span><br /><span>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</span></p>



                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

  

                            

                                                




                                            </div>



                                        </div>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                </div>



                    </div>

              

            </div>

            



            

        </div>


    </div>
</div>

<script>


                            function openCity(evt, Name) {
                                var i, x, tablinks;


                                x = document.getElementsByClassName("content");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }


                                tablinks = document.getElementsByClassName("tablink");
                                for (i = 0; i <= x.length; i++) {


                                    tablinks[i].className = tablinks[i].className.replace(" background-blue", "");
                                }


                                document.getElementById(Name).style.display = "block";

                                // $(".tab").addClass("active"); // instead of this do the below
                                evt.currentTarget.className += " background-blue";
                            }
</script>